#canvas {
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 50px;
	border: 50px solid rgba(50,50,50,1);
	background: black;
}
body {
	background-image: radial-gradient(black,rgba(10,10,10,1));
}