<html>
<head>
	<title>Minesweeper</title>
	<link rel="stylesheet" type="text/css" href="../static/Minesweeper/style.css">
	<link rel='icon' href='../static/Minesweeper/favicon.ico' type='image/x-icon'/ >
</head>
<body>
	<canvas id = "canvas" width = "500" height = "500"></canvas>
	</br>
	<input type = "button" id = "reset" disabled value = "Reset">
	<div id = "timer">
		<span id = "label">Timer: </span>
		<span id = "time">00:00:00</span>
	</div>
</body>
<script src = "../static/Minesweeper/cell.js"></script>
<script src = "../static/Minesweeper/minesweeper.js"></script>
<script src = "../static/Minesweeper/timer.js"></script>
</html>
