<html>
<head>
	<title>Platformer</title>
	<link rel="stylesheet" type="text/css" href="../static/Platformer/style/main.css">
	<link rel='icon' href='../static/Platformer/pics/favicon.ico' type='image/x-icon'/ >
</head>
<body>
	<canvas id = "canvas" width = "600" height = "600"></canvas>
	<img src = "../static/Platformer/pics/cake.jpg" width = "0" id = "cake">
	<img src = "../static/Platformer/pics/player.png" width = "0" id = "player">
</body>
<script src = "../static/Platformer/js/tiles.js"></script>
<script src = "../static/Platformer/js/lava.js"></script>
<script src = "../static/Platformer/js/portal.js"></script>
<script src = "../static/Platformer/js/player.js"></script>
<script src = "../static/Platformer/js/main.js"></script>
</html>
