<html>
<head>
	<title>Space Invaders</title>
	<link rel="stylesheet" type="text/css" href="../static/Space Invaders/style.css">
	<link rel = "icon" type = "image/x-icon" href = "../static/Space Invaders/favicon.ico">
</head>
<body>
	<canvas id = "canvas" width = "500" height = "500"></canvas>
	<img src = "../static/Space Invaders/death.jpeg" width = "0" id = "pic">
</body>
<script src = "../static/Space Invaders/player.js"></script>
<script src = "../static/Space Invaders/alien.js"></script>
<script src = "../static/Space Invaders/laser.js"></script>
<script src = "../static/Space Invaders/main.js"></script>
</html>
